*{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
}
#Div{
	width: 1000px;
	height: 563px;
	background:url(../images/bg.jpg) no-repeat;
	overflow: hidden;
}
#Box{
	width: 600px;
	margin:40px auto;
}
#prevbtn,#nextbtn{
	width: 60px;
}
#div1{
	margin-top: 10px;
	width: 216px;
	height: 180px;
	background-color: rgb(244,244,244);
	float:left;
	position: relative;
}
#im1{
	margin:12px 12px 0px;
	
}
#p1{
	text-align: center;
}
#p2{
	margin-left: 12px;
}
#div2{
	margin-top: 10px;
	width: 284px;
	height: 240px;
	background-color: rgb(244,244,244);
	float: left;
	margin-left: 20px;
	position: relative;
}
#im2{
	margin:12px 12px 0px;
}
#p3{
	text-align: center;
}
#p4{
	margin-left: 12px;
}
#left1{
	width: 96px;
	height: 128px;
	position: absolute;
	left: 12px;
	top: 12px;
}
#right1{
	width: 96px;
	height: 128px;
	position: absolute;
	right:12px;
	top: 12px;
}
#left2{
	width: 130px;
	height: 185px;
	position: absolute;
	left: 12px;
	top: 12px;
}
#right2{
	width: 130px;
	height: 185px;
	position: absolute;
	right:12px;
	top: 12px;
}